lightBlue = #a4daf1
darkBlue = #003664

html,body
  height 100%
  margin 0
  background-color darkBlue
  font-family 'RobotoDraft', sans-serif
  
.preco-idealstudio-nav, .nasa-praca-nav, .vzorovy-projekt-nav
	margin-top:-80px

.nasa-praca.owl-carousel
	.owl-stage-outer
		height 100%
	
#vzorovy-projekt
	.slick-dots li.slick-active button:before
		color lightBlue
		opacity 1
	.slick-prev:before, .slick-next:before
		color lightBlue
		
#send
	width 200px
	border-radius 24px
	background lightBlue
	color darkBlue
	margin-top 30px

#address
	font-size 18px
	padding 90px
	line-height 28px
	color white
	text-align center

#contact-form
	padding-top 70px
	color white  

.bgImage
	background-position center
	background-size cover
	width 100%

paper-tab
	cursor pointer

paper-icon-button
	color white
	z-index 1
	margin 15px

core-header-panel
  height 100%
  overflow auto
  -webkit-overflow-scrolling touch

core-toolbar
  background #03a9f4
  color white
  
paper-tabs::shadow #selectionBar
  background-color lightBlue

paper-tabs paper-tab::shadow #ink
  color lightBlue
  
#map
	width 100%
	height 300px

#menu-button
	z-index 900

paper-tabs#tabs
  width 100%
  margin-top 60px
  height 100px

#logo
	margin 60px 0px
	
paper-item.menuItem::shadow 
	.button-content
		justify-content: center
	paper-ripple
		color lightBlue

paper-button::shadow
	paper-ripple
		color white

#drawer
	background white
	
paper-item.core-selected
	background-color lightBlue
	
paper-item
	border-radius 24px
	
core-menu
	margin 25px
	
core-animated-pages
	overflow hidden
	height 100%
	background-color darkBlue 
	#wrapper
		color white
		padding 80px
		font-size 18px
		line-height 28px
  
#precoText
	color white
	font-size 16px
	padding 60px
	line-height 24px
	background-color darkBlue
	overflow-y auto

.fb-share-button
	margin-top 60px

.fb-like-box
	background-color white
	padding 0px 10px 0px 10px

#precoWrapper
	height 50%
	background-color white

#steps p
		margin-top 40px
		text-align center
		padding 20px
		font-size 24px
		line-height 36px

.custom /deep/ ::-webkit-input-placeholder
  color lightBlue

.custom /deep/ ::-moz-placeholder
  color lightBlue

.custom /deep/ :-ms-input-placeholder
  color lightBlue

.custom /deep/ .label-text,
.custom /deep/ .error
  color lightBlue

.custom /deep/ .unfocused-underline
  background-color lightBlue

.custom[focused] /deep/ .floated-label .label-text
  color lightBlue

.custom /deep/ .focused-underline
  background-color lightBlue

.custom.invalid /deep/ .floated-label .label-text,
.custom /deep/ .error
  color lightBlue

.custom.invalid /deep/ .focused-underline
  background-color lightBlue
  
.owl-carousel
	z-index 0

.owl-theme
	.owl-controls
	  .owl-dots
	  	position absolute
	  	bottom 30px
	  	width 100%
	  	margin-top -30px
	    text-align center
	    -webkit-tap-highlight-color transparent
	    .owl-dot
	      display inline-block
	      zoom 1
	      *display inline
	      span
	        width 10px
	        height 10px
	        margin 5px 7px
	        background lightBlue
	        display block
	        -webkit-backface-visibility visible
	        -webkit-transition opacity 200ms ease
	        -moz-transition opacity 200ms ease
	        -ms-transition opacity 200ms ease
	        -o-transition opacity 200ms ease
	        transition opacity 200ms ease
	        -webkit-border-radius 30px
	        -moz-border-radius 30px
	        border-radius 30px

.owl-theme .owl-dots .owl-dot span
	background black
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
  background lightBlue
