head
	title IDEAL studio

body
	+app
	+facebookSDK

template(name="app")
	paper-toast#toast(text="{{toast}}")
	core-drawer-panel(drawerWidth="300px", responsiveWidth="900px")
		core-header-panel#drawer(drawer)
			div(layout horizontal center center-justified)
				img#logo(src="png/logo.png", alt="Logo")
			core-menu(selected="0")
				paper-item.menuItem(label='preco-idealstudio') Prečo IDEALstudio?
				paper-item.menuItem(label='nasa-praca')  Naša práca
				paper-item.menuItem(label='vzorovy-projekt')  Vzorový projekt
				paper-item.menuItem(label='mam-zaujem')  Mám záujem, čo dalej?
				paper-item.menuItem(label='kontakt') Kontakt
			div(horizontal layout center-justified)
				.fb-share-button(data-href='https://www.facebook.com/kupelnovestudio', data-layout='box_count')
		core-header-panel(main)
			paper-icon-button#menu-button(icon='menu' core-drawer-toggle)
			core-animated-pages#pages(transitions='slide-from-bottom', selected='0', valueattr='label', fit)
				section(label='preco-idealstudio')
					+precoIdealstudio
				section(label='nasa-praca')
					+nasaPraca
				section(label='vzorovy-projekt')
					+vzorovyProjekt
				section(label='mam-zaujem')
					+mamZaujem
				section(label='kontakt')
					+kontakt

template(name='precoIdealstudio')
	div(fit vertical layout)
		.preco-idealstudio
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio1.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio2.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio3.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio4.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio5.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio6.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio7.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio8.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio9.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio10.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio11.jpg' alt='')
			.item
				img(class='owl-lazy' data-src='jpg/studio/studio12.jpg' alt='')
		.preco-idealstudio-nav(horizontal layout)
			paper-icon-button.previous(icon='arrow-back')
			div(flex)
			paper-icon-button.next(icon='arrow-forward')
		div#precoWrapper(layout horizontal flex)
			#precoText(flex one)
				p Špecializujeme sa na projektovanie kúpeľní a interiérov s následným autorským dozorom priamo na mieste realizácie. 
				p Za celý čas našej existencie sme nakreslili presne 213 projektov a tie najlepšie si možte pozrieť na našom facebooku v albume realizácie.
			#likeBox(flex one horizontal layout center-justified center)
				.fb-like-box(data-href='https://www.facebook.com/kupelnovestudio', data-width='282', data-height='260', data-colorscheme='light', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')
template(name='nasaPraca')
	div(fit)
		.nasa-praca
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_hory_01.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_hory_02.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_hory_03.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/canyon_wc_01.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/canyon_wc_02.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/canyon_wc_03.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_aqua_01.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_aqua_02.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_aqua_03.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_pokusenie_01.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_pokusenie_02.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_pokusenie_03.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/kupelna_small_cappuccino_01.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/lesna_kupelna_01.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/nasa-praca/lesna_kupelna_02.jpg')
		.nasa-praca-nav(horizontal layout)
			paper-icon-button.previous(icon='arrow-back')
			div(flex)
			paper-icon-button.next(icon='arrow-forward')
template(name='vzorovyProjekt')
	div(fit)
		.vzorovy-projekt
			.item
				img(class='owl-lazy' data-src='jpg/vzor/dispozicia.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/vzor/voda.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/vzor/elektrika.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/vzor/vizualizacia1.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/vzor/vizualizacia2.jpg')
			.item
				img(class='owl-lazy' data-src='jpg/vzor/vizualizacia3.jpg')
		.vzorovy-projekt-nav(horizontal layout)
			paper-icon-button.previous(icon='arrow-back')
			div(flex)
			paper-icon-button.next(icon='arrow-forward')
template(name='mamZaujem')
	div#wrapper(fit)
		h1 Mám záujem, čo dalej?
		paper-tabs#tabs(selected='0')
			paper-tab 1
			paper-tab 2
			paper-tab 3
			paper-tab 4
			paper-tab 5
			paper-tab 6
			paper-tab 7
			paper-tab 8
			paper-tab 9
		core-animated-pages#steps(transitions='slide-from-right', selected='0', valueattr='label')
			section(label='0')
				p Pošlem mailom alebo prinesiem osobne pôdorys (nákres) a fotky priestoru spolu s požiadavkami na vypracovanie.
			section(label='1')
				p Do 48 hodín dostanem na mail cenu na projekt a termín obhliadky na potvrdenie.
			section(label='2')
				p Na obhliadke si s dizajnérom prekonzultujem moju presdtavu o dizajne a výšku rozpočtu.
			section(label='3')
				p Po zaplatení 50% z ceny na projekt mi dizajnér vypracuje dispozíciu a 3D vizualizáciu, ktorú si spripomienkujeme na osobnom stretnutí.
			section(label='4')
				p Do vopred dohodnutého termínu dostanem vypracovaný projekt a cenovú ponuku na zariadenie kúpeľne a doplatím zvyšných 50% za projekt.
			section(label='5')
				p Ak s cenovou ponukou na zariadenie súhlasím, potvrdím objednávku.
			section(label='6')
				p Mailom alebo osobne obdržím zálohovú faktúru a po jej zaplatení objednajú moje zariadenie.
			section(label='7')
				p Po zalatení konečnej faktúry mi IDEAL studio dodá zariadenie a ak mám záujem zabezpečia mi autorský dozor počas celej realizácie.
			section(label='8')
				p Naplno si užívate svoju ideálnu kúpeľňu.

template(name='kontakt')
	div(fit layout vertical)
		#map
			
		div(horizontal layout)
			div#address(flex)
				div IDEAL Studio, s.r.o. 
				div Dolnozoborská 14, 94901 Nitra
				div 0948 11 90 10
				div info@idealstudio.eu
				br
				div Pondelok: 10:00 - 16:00
				div Utorok: 12:00 - 18:00
				div Streda: 12:00 - 18:00
				div Štvrtok: 12:00 - 18:00
				div Piatok: 10:00 - 18:00
				div Sobota: 10:00 - 12:00
			div#contact-form(flex)
				paper-input-decorator.custom.email(label='Email', floatinglabel)
					input#email(is='core-input')
				paper-input-decorator.custom.subject(label='Predmet', floatinglabel)
					input#subject(is='core-input')
				paper-input-decorator.custom.message(label='Správa', floatinglabel)
					paper-autogrow-textarea
						textarea#message
				div(horizontal center-justified layout)
					paper-button#send(raised) Odošli správu
